*, *:before, *:after  {
    -moz-box-sizing:  border-box;
    -webkit-box-sizing:  border-box;
    box-sizing:  border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color:#384047;
}

#text{
    text-align: center;
}
form{
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
    margin-top: 40px;
}

h1{
    margin:  0 0 30px 0;
    text-align: center;
    text-transform: capitalize;
}
input[type="text"] {
    background:  rgba(255, 255, 255, 0.1);
    border:  none;
    font-size:  16px;
    height:  auto;
    margin:  0;
    outline:  0;
    padding:  15px;
    width:  100%;
    background-color:  #e8eeef;
    color:  #8a97a0;
    box-shadow:  0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom:  30px;
}

button {
    padding:  19px 39px 18px 39px;
    color:  #FFF;
    background-color:  #4bc970;
    font-size:  18px;
    text-align:  center;
    font-style:  normal;
    border-radius:  5px;
    width:  100%;
    border:  1px solid #3ac162;
    border-width:  1px 1px 3px;
    box-shadow:  0 -1px 0 rgba(255, 255, 255, 0.1) inset;
    margin-bottom:  10px;
}

@media screen and (min-width: 480px) {
    form  {
    max-width:  480px;
}
}

.update-link {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px 33px;
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(255, 165, 0);
    color: #FFF;
    border:  1px solid rgb(255, 165, 0);
}

/* Style for delete link */
.delete-link {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px 33px;
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(255, 0, 0);
    color: #FFF;
    border:  1px solid rgb(255, 0, 0);
}

/* Style for add link */
.add-link {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px 33px;
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(0, 0, 255);
    color: #FFF;
    border:  1px solid rgb(0, 0, 255);
}

.cancel-link {
    font-family: 'Nunito', sans-serif;
    display: inline-block;
    padding: 10px 33px;
    width: 120px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    background-color: rgb(61, 61, 62);
    color: #FFF;
    border:  1px solid rgb(61, 61, 62);
}

/* Styles for the data grid */
.data-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three columns */
    grid-gap: 20px; /* Gap between items */
}

.data-item {
    border: 1px solid #ddd;
    padding: 10px;
}

.name {
    font-weight: bold;
}

.phone-number {
    color: #666;
}

.actions {
    display: flex;
    justify-content: space-between;
}
